<h1>Editing note</h1>

<%= render 'form' %>
<div class="btn-group">
  <%= link_to 'Show', @note, :class => "btn btn-default" %>
  <%= link_to 'Back', notes_path, :class => "btn btn-default" %>
</div>
